################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WareHouseManager.Razor/WareHouseManager.Razor.csproj
/WareHouseManager.Razor/appsettings.json
