@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4 text-primary">Warehouse Manager  App</h2>
   
        

        <p>Esta es una aplicación web diseñada para gestionar eficientemente la trazabilidad de productos y lotes en un almacén. Esta herramienta está dirigida a empresas que necesitan un control preciso y detallado de su inventario, facilitando la supervisión, búsqueda y gestión de sus productos.
    </p>
    <h2 class="text-success">Características Principales</h2>

     <h3 class="text-success">   Trazabilidad de Lotes y Productos:</h3>
     <p>   Registro detallado de cada lote, incluyendo información sobre la fecha de entrada, proveedor y ubicación dentro del almacén.
        Seguimiento del movimiento de productos dentro del almacén para asegurar la disponibilidad y el acceso rápido a los inventarios.
    </p>
    <h3 class="text-success">   Búsquedas Avanzadas de Datos:</h3>
     <p>   Potentes herramientas de búsqueda que permiten filtrar y localizar productos rápidamente a través de diversos criterios como el nombre, el lote, la fecha de entrada y la ubicación.
        Funcionalidad de búsqueda predictiva para facilitar la recuperación de datos relevantes y reducir el tiempo de búsqueda.
    </p>
    <h3 class="text-success">
        Gestión de Usuarios:
    </h3>   
    <p></p>Implementación de ASP.NET Core Identity para la gestión segura de usuarios y roles.
        Acceso personalizado basado en roles, asegurando que solo los usuarios autorizados puedan realizar ciertas acciones o acceder a información específica.
        </p>
    <h3 class="text-success">  Interfaz de Usuario Moderna:</h3>
      <p></p>
        Diseño atractivo y responsivo utilizando Bootstrap para garantizar una experiencia de usuario óptima en dispositivos móviles y de escritorio.
        Uso de tablas y botones estilizados para facilitar la interacción del usuario y la gestión de datos.
        </p>
    <h3 class="text-success"> Tecnologías Utilizadas:</h3>
      <p></p>  Razor Pages: para la construcción de la interfaz de usuario de forma sencilla y eficiente.
        PostgreSQL: como base de datos relacional para almacenar y gestionar datos de manera robusta y escalable.
        Git y GitHub: para el control de versiones y la colaboración en el desarrollo del proyecto.
        </p>
    <h3 class="text-success">
        Beneficios del Sistema</h3>

        <p></p>
        Mejora en la Eficiencia Operativa: Al proporcionar una visión clara y actualizada del inventario, el sistema ayuda a reducir errores de administración y mejora la eficiencia operativa del almacén.

        Toma de Decisiones Informada: La disponibilidad de datos precisos y en tiempo real permite a los gestores del almacén tomar decisiones más informadas sobre reabastecimiento, almacenamiento y distribución.

        Seguridad y Control: Con la implementación de Identity, se asegura que el acceso a la información crítica esté restringido a personal autorizado, protegiendo los datos sensibles de la empresa.
    </p>
</div>
